/* HTML Doc */
html{min-width:300px;
    height:100%;
    min-height:100%;
    width: 100%}

/* Body */

body .container{
        margin: 0 auto;
        padding:0;}

/* navigation */

.banner {background-image: url("../images/vancouver_skyline.jpg");
        background-size: auto;
        width: 100%;
        height: 550px;}

.icon-bar {background-color: white;}

.navbar-brand {padding-top: 0px;
              color: ;}

.nav a {color: white;}

.nav li {display: block;}

.nav li a:hover {background-color: black;}

.nav-pills li.active a {background-color: rgba(50,50,50,0.4);}

.nav-pills li.active a:hover{background-color: black;}

/* homepage content */  

.content1 {padding: 30px;}

h1.section {text-align: center;}

p.paragraph {text-align: left;
            padding-left: 20px;
            padding-right: 20px;}

.images {text-align: -webkit-center;}


/* hompeage footer */



#footer {background-color: dimgrey;
        width: 100%;
        height: 150px;}



.footerWrapper{padding:0 0 0 0;
              background-color: #222222;
              color: #616161;
              font-family: sans-serif;}


.footerRights {background-color: #333333;
              padding-top:15px;
              padding-bottom:15px;
              margin-top:5px; 
              text-align: center; 
              font-size:10px;}


.footerWidget {margin-top: 55px;}

.footerLogo {margin-top: 50px;}

.contact {padding-left: 50px;}


#footer #copyright {font-size: 8px;
                    color: white;
                    padding-left: 7px;}

/* about content */

.aboutcolumn1 h1 {text-align: center;}

.aboutcontent {padding-top: 25px;
              padding-bottom: 25px;}

.aboutcolumn2 {padding-left: 50px;}


