.body {
	font-family: "Ubuntu";
}

.breadcrumb {
	font-weight: bold;
	padding: 0;
	font-size: 18px;
	margin: 20px 0;
	background-color: white;
}
h1 {	
	font-weight: bold;
	font-size: 18px;
}
.currentpage {
	font-size: 22px;
}
.createthread a{
	text-decoration: none;
}
.createthreadbutton {
	font-weight: bold;
	width: 150px;
	padding: 5px 10px;
	text-align: center;
	background-color: yellow;
}
.board {
	margin: 20px 0;
	border: thin solid black;
	list-style: none;
	padding-left: 0;
	font-weight: bold;
}
.tableheader {
	height: 40px;
	border-bottom: thin solid black;
}
.tableheader p {
	margin: 5px 10px;
	font-weight: bold;
}
.thread {
	height: 70px;
}
.thread p {
	margin: 0% 10px;
	font-weight: bold;
}
.topic p {
	font-size: 20px;
}
.thread:nth-child(odd) {
	padding-top: 10px;
	background-color: #ffffff;
}
.thread:nth-child(even) {
	background-color: #eef0f0;
	padding-top: 10px;
}
.topic {
	width: 72%;
	height: 100%;
	float: left;
}
.view {
	width: 13%;
	height: 100%;
	float: left;
}
.date {
	width: 15%;
	height: 100%;
	float: left;
}
.topic a {
	text-decoration: none;
}