/*
	default body content
*/

body {
	/*font-family: "Ubuntu";*/
}

/*
	Bread crumbs
*/
/*.breadcrumb {
	font-weight: bold;
	padding: 0;
	font-size: 18px;
	margin: 20px 0;
	background-color: white;
}
h1 {	
	font-weight: bold;
	font-size: 18px;
}
.currentpage {
	font-size: 22px;
}*/

/*
	create thread button
*/
#btnCreateThread {
	//background-color: yellow;
	//margin-top: 20px;
	margin-bottom: 20px;
}

/*
	board(forum) body
*/
.table>tbody>tr>td {
	vertical-align: middle
}

.number {
	width: 5%;
}

.topic {
	width: 70%;
}

.view {
	width: 10%;
}

.date {
	width: 15%;
}

.topic a {
	text-decoration: none;
}

#paginationBoard {
	float: right;
	margin: 0;
}