/* HOMEPAGE- contact us */

/*google map*/
.googlemap
{border: thick solid gray;
	display: inline-block;
/*	margin-left: 100px;
	margin-right: 100px;*/
}

.contactInfo h2 {text-transform:uppercase;
              color: #92aac3;
              font-weight: 600;}


.contactUs {padding-bottom: 50px;}

/*.heading {
    /*margin-bottom: 50px;*/
   /* text-align: center;
  font-weight: 500;
  font-size: 1.90em;
  letter-spacing: 4px;
  text-transform:uppercase;
  color: black;
 /* padding: .75em; */
   /* margin-bottom: auto;
    margin-top: 0px;
    padding-top: 0px;
    
} */
