.googlemap {
margin-right:100px;
margin-left:400px;
display:inline-block;
border : thick solid gray;
}
h1{
font-size:70px;
display:inline-block;
margin-left:400px;
font-family:"Arial Black", Gadget, sans-serif;
margin-top:20px;
margin-bottom:20px;
}

.address_value{
font: 15px arial, sans-serif;
margin-top: 10px;
text-align:center;
}
.ct_email{
display:inline-block;
text-align:center;
margin-left:550px;
font-family:"Arial Black", Gadget, sans-serif;
  
}
.email1{
font: 15px arial, sans-serif;
text-align:center;
}
.num{
font: 15px arial, sans-serif;
margin-left:40px;
text-align:center;
}

.ct_address{
display:inline-block;
text-align:center;
margin-left:440px;
font-family:"Arial Black", Gadget, sans-serif;
}

.ct_phone{
display:inline-block;
text-align:center;
margin-left:500px;
font-family:"Arial Black", Gadget, sans-serif;
}