/*General body CSS*/
body {
	background: #689ACA;
	padding: 0;
	margin: 0;
}

/* The text form inputs*/
input {
	width: 300px;
	height: 50px;
	color: black;
}
/* Buttons to submit form and go back */
button {
	width: 250px;
	margin-left: 25px;
	background: #FF9900;
	border: thin solid #FF9900;
	color: white;
}
/* The submit button css */
#submit {
	width: 140px;
	height: 40px;
	background: #FF9900;
	border: thin solid #FF9900;
	color: white;
}

/* Main wrapper of content */
.container {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

/* header section of content */
.logobar {
	padding: 0;
	height: 100px;
	border-bottom: solid white 2px;
}

/* Title heading */
.logobar h1 {
	margin-top: 0;
	padding-top: 10px;
	margin-bottom: 0;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: white;
}

/* Subheading of header */
.logobar h2 {
	margin-top: 0;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-bottom: 0;
}

/* Left side: text forms and buttons */
.leftcol {
	float: left;
	margin-top: 20px;
	padding-top: 30px;
	width: 450px;
	padding-left: 40px;
	color: white;
}

/* Links: colour black */
.leftcol a:link {
	color: black;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

/* Right column: logo */
.rightcol {
	margin-left: 400px;
	padding-left: 70px;
	padding-top: 20px;
}

/* footer wrapper */
.bottom {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

/* text margins */
.bottom p {
	margin-left: 350px;
}

/* back button settings */
#back {
	margin-left: 350px;
	width: 200px;
	height: 30px;
}

/* add underline to link */
.bottom a:link {
	text-decoration: underline;
}