/* HOMEPAGE- resources */

 /*resource section1*/
.para1
{
	border-bottom: thin solid gray;
	display: inline-block;
	margin-left: 20px;
	margin-right: 100px;
	padding-bottom: 30px;
}
/*paragraph under title heading*/
.para1_1
{
	display: inline-block;
	margin-left: 20px;
	margin-right: 100px;
	padding-bottom: 30px;
}
/*link to another page*/
.seemore1
{
	margin-left: 1000px;
}
/*title heading*/
.resources
{
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 70px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

/*title of section1*/
.section1
{
	color: #6699ff;
	display: inline-block;
	font-family: "Arial", Gadget, sans-serif;
	margin-left: 20px;
	padding: auto;
}
/*title of section2*/
.section2
{
	color: #6699ff;
	display: inline-block;
	font-family: "Arial", Gadget, sans-serif;
	margin-left: 20px;
	padding: auto;
}
/*title of section3 */
.section3
{
	color: #6699ff;
	display: inline-block;
	font-family: "Arial", Gadget, sans-serif;
	margin-left: 20px;
	padding: auto;
}
/*see more title*/
.see_more
{
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 70px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
}

/*this is a paragraph on see more page*/
.para_seemore
{
	display: inline-block;
	margin-left: 20px;
	margin-right: 100px;
	padding-bottom: 30px;
}
.container1 .navbar-right{padding-right: 10px;}