/* HOMEPAGE- resources */
body {	
	font-family: "Arial", Gadget, sans-serif;
}
/*title heading*/
.heading {
	//margin-bottom: 50px;
}
h1
{
	/*font-family: "Arial Black", Gadget, sans-serif;*/
	/*font-size: 72px;
	margin: 20px;*/
}

/*individual resource*/
.section
{
	margin: 50px 0;
}
/*resource title*/
.sectionTitle
{
	color: #6699ff;
	margin-left: 20px;
}
 /*resource body*/
.sectionBody
{
	margin-left: 20px;
}
/*link to detail page*/
.seemore
{
	/*border: thin solid black;*/
	float: right;
	margin-right: 20px;
}

/*divider*/
hr
{
	border-width: 1px;
	border-color: black;
	margin: 0;
}