/* HOMEPAGE- resources */
body {	
	font-family: "Arial", Gadget, sans-serif;
}
/*title heading*/
.heading {
    /*margin-bottom: 50px;*/
    text-align: center;
  font-weight: 400;
  font-size: 1.00em;
  letter-spacing: 4px;
  text-transform:uppercase;
  color: black;
  padding: .75em;
    margin-bottom: auto;
    margin-top: 0px;
    
}


/*individual resource*/
.section
{
	margin: 50px 0;
}
/*resource title*/
.sectionTitle
{
	color: #6699ff;
	margin-left: 20px;
}
 /*resource body*/
.sectionBody
{
	margin-left: 20px;
}
/*link to detail page*/
.seemore
{
	/*border: thin solid black;*/
	float: right;
	margin-right: 20px;
}

/*divider*/
hr
{
	border-width: 1px;
	border-color: black;
	margin: 0;
}
