label {
width: 150px;
float: left;
text-align: left;
margin-right: 20x;
display: block
}


.blerb h1 {
	font-size: 45px;
	border-bottom: solid gray;
	padding-bottom: 10px;
	padding-top: 0;
	}

.blerb h2 {
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
}

.blerb {
	margin-top: 0;
	padding-top: 0;
	border-bottom: solid gray;
}

.innerblerb {
	width: 500px;
}

.formbox {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.innerformleft {
	padding-top: 5px;
	margin-left: 300px;
	margin-top: 10px;
	float: left;
}

.innerformleft p {
	margin-bottom: 15px;
	font-weight: bold;
}

.innerformright {
	margin-top: 30px;
	width: 600px;
	float: right;
	}

.form1 input {
	margin-bottom: 10px;
	width: 300px;
	color: black;
	background: white;
	border: thin solid black;
}

#submit {
	width: 300px;
	margin-left: 150px;
	background: #FF9900;
	border: thin solid #FF9900;
}